{% extends 'layout.html.twig' %}

{% block title %}{{ navega_listado_tarifa_espera }}{% endblock %}

{% block cabecera %}
    <h3 class="{{ estilo_cabecera_pagina }}">{{ navega_listado_tarifa_espera }}</h3>
{% endblock %}

{% block contenido %}
    <table class="{{ estilo_tabla }}">
        <thead>
            <tr>
                <th>{{ etiqueta_inicio_vigencia }}</th>
                <th>{{ etiqueta_fin_vigencia }}</th>
                <th>{{ etiqueta_precio_hora }}</th>
                <th>{{ etiqueta_acciones }}</th>
            </tr>
        </thead>
        <tbody>
        {% for tarifa_espera in tarifa_esperas %}
            <tr>
                <td>{{ tarifa_espera.inicioVigencia ? tarifa_espera.inicioVigencia|date('Y-m-d') : '' }}</td>
                <td>{{ tarifa_espera.finVigencia ? tarifa_espera.finVigencia|date('Y-m-d') : '' }}</td>
                <td>{{ tarifa_espera.precioHora }}</td>
                <td>
                    <a href="{{ path('app_tarifa_espera_show', {'id': tarifa_espera.id}) }}" class="{{ estilo_boton_detalle_incrustado }}">{{ ver_detalle }}</a>
                    <a href="{{ path('app_tarifa_espera_edit', {'id': tarifa_espera.id}) }}" class="{{ estilo_boton_editar_incrustado }}">{{ editar }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{{ sin_resultados }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block acciones %}
    <a href="{{ path('app_tarifa_espera_new') }}" class="{{ estilo_boton_nuevo_elemento }}">{{ navega_nueva_tarifa_espera }}</a>
{% endblock %}
