{% extends 'layout.html.twig' %}

{% block title %}{{ navega_nueva_tarifa_espera }}{% endblock %}

{% block cabecera %}
    <h1>{{ navega_nueva_tarifa_espera }}</h1>
{% endblock %}

{% block contenido %}
    {{ include('tarifa_espera/_form.html.twig') }}
{% endblock %}

{% block acciones %}
    <a href="{{ path('app_tarifa_espera_index') }}" class="{{ estilo_boton_volver }}">{{ volver_al_listado }}</a>
{% endblock %}
