{% extends 'layout.html.twig' %}

{% block title %}{{ navega_ver_tarifa_espera }}{% endblock %}

{% block cabecera %}
    <h1>{{ navega_ver_tarifa_espera }}</h1>
{% endblock %}

{% block contenido %}
    <table class="{{ estilo_tabla }}">
        <tbody>
<!--Nota: eliminar campo id-->
            <tr>
                <th>Id</th>
                <td>{{ tarifa_espera.id }}</td>
            </tr>
            <tr>
                <th>{{ etiqueta_inicio_vigencia }}</th>
                <td>{{ tarifa_espera.inicioVigencia ? tarifa_espera.inicioVigencia|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>{{ etiqueta_fin_vigencia }}</th>
                <td>{{ tarifa_espera.finVigencia ? tarifa_espera.finVigencia|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>{{ etiqueta_precio_hora }}</th>
                <td>{{ tarifa_espera.precioHora }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}

{% block acciones %}
    <a href="{{ path('app_tarifa_espera_index') }}" class="{{ estilo_boton_volver }}">{{ volver_al_listado }}</a>

    <a href="{{ path('app_tarifa_espera_edit', {'id': tarifa_espera.id}) }}" class="{{ estilo_boton_editar }}">{{ editar }}</a>

    {{ include('tarifa_espera/_delete_form.html.twig') }}
{% endblock %}
