{% extends 'layout.html.twig' %}

{% block title %}{{ navega_detalle_tarifa_espera }}{% endblock %}

{% block cabecera %}
    <h3 class="{{ estilo_cabecera_pagina }}">{{ navega_detalle_tarifa_espera }}</h3>
{% endblock %}

{% block contenido %}
    <table class="{{ estilo_tabla }}">
        <tbody>
            <tr>
                <th>{{ etiqueta_inicio_vigencia }}</th>
                <td>{{ tarifa_espera.inicioVigencia ? tarifa_espera.inicioVigencia|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>{{ etiqueta_fin_vigencia }}</th>
                <td>{{ tarifa_espera.finVigencia ? tarifa_espera.finVigencia|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>{{ etiqueta_precio_hora }}</th>
                <td>{{ tarifa_espera.precioHora }}</td>
            </tr>
        </tbody>
    </table>

    <h5>{{ navega_viajes_con_esta_tarifa }}</h5>
    <div class="{{ estilo_subcontenido }}">
        {{ include('viaje/_tabla_viajes.html.twig') }}
    </div>
{% endblock %}

{% block acciones %}
    <a href="{{ path('app_tarifa_espera_index') }}" class="{{ estilo_boton_volver }}">{{ navega_ver_historico_tarifas_espera }}</a>

    <a href="{{ path('app_tarifa_espera_edit', {'id': tarifa_espera.id}) }}" class="{{ estilo_boton_editar }}">{{ editar }}</a>

    <a href="{{ path('app_tarifa_espera_new') }}" class="{{ estilo_boton_nuevo_elemento }}">{{ navega_nueva_tarifa_espera }}</a>

    {# No se contempla la opción de eliminar tarifas
    {% if not viajes %}
        {{ include('tarifa_espera/_delete_form.html.twig') }}
    {% endif %}
    #}
{% endblock %}
