{% extends 'layout.html.twig' %}

{% block title %}{{ navega_nuevo_usuario }}{% endblock %}

{% block body %}
    <h1>{{ navega_nuevo_usuario }}</h1>

    {{ include('usuario/_form.html.twig') }}

    <a href="{{ path('app_usuario_index') }}" class="{{ estilo_boton_volver }}">{{ volver_al_listado }}</a>
{% endblock %}
