{% extends 'layout.html.twig' %}

{% block title %}{{ navega_inicio_demostracion }}{% endblock %}

{% block cabecera %}
    <h3 class="{{ estilo_cabecera_pagina }}">{{ navega_inicio_demostracion }}</h3>
{% endblock %}

{% block contenido %}
    <p>Actualmente, este es el contenido de los elementos de la aplicación.</p>
    <table class="{{ estilo_tabla }}">
        <thead>
            <tr>
                <th>Conductores</th>
                <th>Usuarios</th>
                <th>Localidades</th>
                <th>Pacientes</th>
                <th>Tarifas de espera</th>
                <th>Tarifas por km</th>
                <th>Viajes</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ numConductores }}</td>
                <td>{{ numUsuarios }}</td>
                <td>{{ numLocalidad }}</td>
                <td>{{ numPaciente }}</td>
                <td>{{ numTarifaEspera }}</td>
                <td>{{ numTarifaKm }}</td>
                <td>{{ numViajes }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}

{% block acciones %}
    <a href="{{ path('app_login') }}" class="{{ estilo_boton_login }}">Login</a>
    <a href="{{ path('app_register') }}" class="{{ estilo_boton_login }}">Crear usuario</a>
    <a href="{{ path('app_reiniciar') }}" class="{{ estilo_boton_login }}">Reiniciar base de datos</a>
{% endblock %}
