{% extends 'layout.html.twig' %}

{% block title %}Register{% endblock %}

{% block cabecera %}
    <h1>Register</h1>
{% endblock %}

{% block contenido %}
    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.login) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.esAdmin) }}

        <button type="submit" class="{{ estilo_boton_login }}">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
