<form method="post" action="{{ path('app_paciente_delete', {'id': paciente.id}) }}" onsubmit="return confirm('{{ confirmar_borrado_paciente }}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ paciente.id) }}">
    <button class="{{ estilo_boton_eliminar }}">{{ eliminar }}</button>
</form>
