{% extends 'layout.html.twig' %}

{% block title %}Paciente index{% endblock %}

{% block body %}
    <h1>Paciente index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido1</th>
                <th>Apellido2</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Telefono2</th>
                <th>Dni</th>
                <th>Es_socio</th>
                <th>Codigo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for paciente in pacientes %}
            <tr>
                <td>{{ paciente.id }}</td>
                <td>{{ paciente.nombre }}</td>
                <td>{{ paciente.apellido1 }}</td>
                <td>{{ paciente.apellido2 }}</td>
                <td>{{ paciente.email }}</td>
                <td>{{ paciente.telefono }}</td>
                <td>{{ paciente.telefono2 }}</td>
                <td>{{ paciente.dni }}</td>
                <td>{{ paciente.esSocio ? 'Yes' : 'No' }}</td>
                <td>{{ paciente.codigo }}</td>
                <td>
                    <a href="{{ path('app_paciente_show', {'id': paciente.id}) }}">show</a>
                    <a href="{{ path('app_paciente_edit', {'id': paciente.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_paciente_new') }}">Create new</a>
{% endblock %}
