{% extends 'layout.html.twig' %}

{% block title %}{{ navega_nuevo_paciente }}{% endblock %}

{% block cabecera %}
    <h1>{{ navega_nuevo_paciente }}</h1>
{% endblock %}

{% block contenido %}
    {{ include('paciente/_form.html.twig') }}
{% endblock %}

{% block acciones %}
    <a href="{{ path('app_paciente_index') }}" class="{{ estilo_boton_volver }}">{{ volver_al_listado }}</a>
{% endblock %}
