{% extends 'layout.html.twig' %}

{% block title %}Paciente{% endblock %}

{% block body %}
    <h1>Paciente</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ paciente.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ paciente.nombre }}</td>
            </tr>
            <tr>
                <th>Apellido1</th>
                <td>{{ paciente.apellido1 }}</td>
            </tr>
            <tr>
                <th>Apellido2</th>
                <td>{{ paciente.apellido2 }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ paciente.email }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ paciente.telefono }}</td>
            </tr>
            <tr>
                <th>Telefono2</th>
                <td>{{ paciente.telefono2 }}</td>
            </tr>
            <tr>
                <th>Dni</th>
                <td>{{ paciente.dni }}</td>
            </tr>
            <tr>
                <th>Es_socio</th>
                <td>{{ paciente.esSocio ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Codigo</th>
                <td>{{ paciente.codigo }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_paciente_index') }}">back to list</a>

    <a href="{{ path('app_paciente_edit', {'id': paciente.id}) }}">edit</a>

    {{ include('paciente/_delete_form.html.twig') }}
{% endblock %}
