{% extends 'layout.html.twig' %}

{% block title %}{{ navega_detalle_paciente }}{% endblock %}

{% block cabecera %}
    <h3 class="{{ estilo_cabecera_pagina }}">{{ navega_detalle_paciente }}</h3>
{% endblock %}

{% block contenido %}
    <table class="{{ estilo_tabla }}">
        <tbody>
            <tr>
                <th>{{ etiqueta_nombre }}</th>
                <td>{{ paciente.nombre }}</td>
            </tr>
            <tr>
                <th>{{ etiqueta_apellido1 }}</th>
                <td>{{ paciente.apellido1 }}</td>
            </tr>
            <tr>
                <th>{{ etiqueta_apellido2 }}</th>
                <td>{{ paciente.apellido2 }}</td>
            </tr>
            <tr>
                <th>{{ etiqueta_nombre_localidad }}</th>
                <td>{{ paciente.idLocalidad.nombre }}</td>
            </tr>
            <tr>
                <th>{{ etiqueta_email }}</th>
                <td>{{ paciente.email }}</td>
            </tr>
            <tr>
                <th>{{ etiqueta_telefono1 }}</th>
                <td>{{ paciente.telefono }}</td>
            </tr>
            <tr>
                <th>{{ etiqueta_telefono2 }}</th>
                <td>{{ paciente.telefono2 }}</td>
            </tr>
            <tr>
                <th>{{ etiqueta_dni }}</th>
                <td>{{ paciente.dni }}</td>
            </tr>
            <tr>
                <th>Es_socio</th>
                <td>{{ paciente.esSocio ? booleano_si : booleano_no }}</td>
            </tr>
            <tr>
                <th>{{ etiqueta_codigo_paciente }}</th>
                <td>{{ paciente.codigo }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}

{% block acciones %}
    <a href="{{ path('app_paciente_index') }}" class="{{ estilo_boton_volver }}">{{ volver_al_listado }}</a>

    <a href="{{ path('app_paciente_edit', {'id': paciente.id}) }}" class="{{ estilo_boton_editar }}">{{ editar }}</a>

    {{ include('paciente/_delete_form.html.twig') }}
{% endblock %}
