{% extends 'layout.html.twig' %}

{% block title %}{{ navega_listado_viajes }}{% endblock %}

{% block cabecera %}
    <h3 class="{{ estilo_cabecera_pagina }}">{{ navega_listado_viajes }}</h3>
{% endblock %}

{% block contenido %}
    {% include('viaje/_tabla_viajes.html.twig') %}
{% endblock %}

{% block acciones %}
    <a href="{{ path('app_viaje_new') }}" class="{{ estilo_boton_nuevo_elemento }}">{{ navega_nuevo_viaje }}</a>
{% endblock %}
