{% extends 'layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block title %}{{ navega_nuevo_viaje }}{% endblock %}

{% block cabecera %}
    <h3 class="{{ estilo_cabecera_pagina }}">{{ navega_nuevo_viaje }}</h3>
{% endblock %}

{% block contenido %}
    {{ include('viaje/_form.html.twig') }}
{% endblock %}

{% block acciones %}
    <a href="{{ path('app_viaje_index') }}" class="{{ estilo_boton_volver }}">{{ volver_al_listado }}</a>
{% endblock %}
