<form method="post" action="{{ path('app_tarifa_km_delete', {'id': tarifa_km.id}) }}" onsubmit="return confirm('{{ confirmar_borrado_tarifa_km }}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tarifa_km.id) }}">
    <button class="{{ estilo_boton_eliminar }}">{{ eliminar }}</button>
</form>
