{% extends 'layout.html.twig' %}

{% block title %}{{ navega_nueva_tarifa_km }}{% endblock %}

{% block cabecera %}
    <h1>{{ navega_nueva_tarifa_km }}</h1>
{% endblock %}

{% block contenido %}

    {{ include('tarifa_km/_form.html.twig') }}

{% endblock %}

{% block acciones %}
    <a href="{{ path('app_tarifa_km_index') }}" class="{{ estilo_boton_volver }}">{{ volver_al_listado }}</a>
{% endblock %}
