{% extends 'layout.html.twig' %}

{% block title %}{{ navega_nueva_tarifa_km }}{% endblock %}

{% block cabecera %}
    <h3 class="{{ estilo_cabecera_pagina }}">{{ navega_nueva_tarifa_km }}</h3>
{% endblock %}

{% block contenido %}

    {{ include('tarifa_km/_form.html.twig') }}

    {% if(not tarifa_actual|default) %}
        <h5>{{ etiqueta_tarifa_no_definida }}</h5>
    {% else %}
        <h5>{{ etiqueta_tarifa_espera_actual }}</h5>
        <table class="{{ estilo_tabla }}">
            <tbody>
            <tr>
                <th>{{ etiqueta_inicio_vigencia }}</th>
                <td>{{ tarifa_actual.inicioVigencia|date('d-m-Y') }}</td>
            </tr>
            <tr>
                <th>{{ etiqueta_precio_hora }}</th>
                <td>{{ tarifa_actual.precioKm }}</td>
            </tr>
            </tbody>
        </table>
    {% endif %}
{% endblock %}

{% block acciones %}
    <a href="{{ path('app_tarifa_km_index') }}" class="{{ estilo_boton_volver }}">{{ volver_al_listado }}</a>
{% endblock %}
