<form method="post" action="{{ path('app_localidad_delete', {'id': localidad.id}) }}" onsubmit="return confirm('{{ confirmar_borrado_localidad }}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ localidad.id) }}">
    <button class="{{ estilo_boton_eliminar }}">{{ eliminar }}</button>
</form>
