{% extends 'layout.html.twig' %}

{% block title %}{{ navega_editar_localidad }}{% endblock %}

{% block cabecera %}
    <h3 class="{{ estilo_cabecera_pagina }}">{{ navega_editar_localidad }}</h3>
{% endblock %}

{% block contenido %}
    {{ include('localidad/_form.html.twig', {'button_label': actualizar}) }}
{% endblock %}

{% block acciones %}
    <a href="{{ path('app_localidad_index') }}" class="{{ estilo_boton_volver }}">{{ volver_al_listado }}</a>

    {{ include('localidad/_delete_form.html.twig') }}
{% endblock %}
