{% extends 'layout.html.twig' %}

{% block title %}{{ navega_listado_localidades }}{% endblock %}

{% block cabecera %}
    <h3 class="{{ estilo_cabecera_pagina }}">{{ navega_listado_localidades }}</h3>
{% endblock %}

{% block contenido %}
    <table class="table">
        <thead>
            <tr>
                <th>{{ etiqueta_nombre_localidad }}</th>
                <th>{{ etiqueta_total_viajes }}</th>
                <th>{{ etiqueta_acciones }}</th>
            </tr>
        </thead>
        <tbody>
        {% for localidad in localidads %}
            <tr>
                <td>{{ localidad.nombre }}</td>
                <td>{{ localidad.totalViajes }}</td>
                <td>
                    <a href="{{ path('app_localidad_show', {'id': localidad.id}) }}" class="{{ estilo_boton_detalle_incrustado }}">{{ ver_detalle }}</a>
                    <a href="{{ path('app_localidad_edit', {'id': localidad.id}) }}" class="{{ estilo_boton_editar_incrustado }}">{{ editar }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">{{ sin_resultados }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block acciones %}
    <a href="{{ path('app_localidad_new') }}" class="{{ estilo_boton_nuevo_elemento }}">{{ navega_nueva_localidad }}</a>
{% endblock %}
