{% extends 'layout.html.twig' %}

{% block title %}{{ navega_nueva_localidad }}{% endblock %}

{% block cabecera %}
    <h3 class="{{ estilo_cabecera_pagina }}">{{ navega_nueva_localidad }}</h3>
{% endblock %}

{% block contenido %}
    {% for msg in app.flashes('error') %}
        <div class="alert alert-danger">{{ msg }}</div>
    {% endfor %}
    {{ include('localidad/_form.html.twig') }}
{% endblock %}

{% block acciones %}
    <a href="{{ path('app_localidad_index') }}" class="{{ estilo_boton_volver }}">{{ volver_al_listado }}</a>
{% endblock %}
