{% extends 'layout.html.twig' %}

{% block title %}{{ navega_nueva_localidad }}{% endblock %}

{% block cabecera %}
    <h1>{{ navega_nueva_localidad }}</h1>
{% endblock %}

{% block contenido %}
    {{ include('localidad/_form.html.twig') }}
{% endblock %}

{% block acciones %}
    <a href="{{ path('app_localidad_index') }}" class="{{ estilo_boton_volver }}">{{ volver_al_listado }}</a>
{% endblock %}
