<form method="post" action="{{ path('app_conductor_delete', {'id': conductor.id}) }}" onsubmit="return confirm('{{ confirmar_borrado_conductor }}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ conductor.id) }}">
    <button class="{{ estilo_boton_eliminar }}">{{ eliminar }}</button>
</form>
