{% extends 'layout.html.twig' %}

{% block title %}Conductor index{% endblock %}

{% block body %}
    <h1>Conductor index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido1</th>
                <th>Apellido2</th>
                <th>Nif</th>
                <th>Fecha_alta</th>
                <th>Fecha_baja</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for conductor in conductors %}
            <tr>
                <td>{{ conductor.id }}</td>
                <td>{{ conductor.nombre }}</td>
                <td>{{ conductor.apellido1 }}</td>
                <td>{{ conductor.apellido2 }}</td>
                <td>{{ conductor.nif }}</td>
                <td>{{ conductor.fechaAlta ? conductor.fechaAlta|date('Y-m-d') : '' }}</td>
                <td>{{ conductor.fechaBaja ? conductor.fechaBaja|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_conductor_show', {'id': conductor.id}) }}">show</a>
                    <a href="{{ path('app_conductor_edit', {'id': conductor.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_conductor_new') }}">Create new</a>
{% endblock %}
