{% extends 'layout.html.twig' %}

{% block title %}{{ navega_listado_conductores }}{% endblock %}

{% block cabecera %}
    <h1>{{ navega_listado_conductores }}</h1>
{% endblock %}

{% block contenido %}
    <table class="{{ estilo_tabla }}">
        <thead>
            <tr>
<!-- Nota: Eliminar el id -->
                <th>Id</th>
                <th>{{ etiqueta_nombre_completo_conductor }}</th>
                <th>{{ etiqueta_nif_conductor }}</th>
                <th>{{ etiqueta_fecha_alta }}</th>
                <th>{{ etiqueta_fecha_baja }}</th>
                <th>{{ etiqueta_acciones }}</th>
            </tr>
        </thead>
        <tbody>
        {% for conductor in conductors %}
            <tr>
                <td>{{ conductor.id }}</td>
                <td>{{ conductor.nombre }} {{ conductor.apellido1 }} {{ conductor.apellido2 }}</td>
                <td>{{ conductor.nif }}</td>
                <td>{{ conductor.fechaAlta ? conductor.fechaAlta|date('d/m/Y') : '' }}</td>
                <td>{{ conductor.fechaBaja ? conductor.fechaBaja|date('d/m/Y') : '' }}</td>
                <td>
                    <a href="{{ path('app_conductor_show', {'id': conductor.id}) }}" class="{{ estilo_boton_detalle_incrustado }}">{{ ver_detalle }}</a>
                    <a href="{{ path('app_conductor_edit', {'id': conductor.id}) }}" class="{{ estilo_boton_editar_incrustado }}">{{ editar }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">{{ sin_resultados }} conductores</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block acciones %}
    <a href="{{ path('app_conductor_new') }}" class="{{ estilo_boton_nuevo_elemento }}">{{ navega_nuevo_conductor }}</a>
{% endblock %}
