{% extends 'layout.html.twig' %}

{% block title %}{{ navega_nuevo_conductor }}{% endblock %}

{% block cabecera %}
    <h3 class="{{ estilo_cabecera_pagina }}">{{ navega_nuevo_conductor }}</h3>
{% endblock %}

{% block contenido %}
    {{ include('conductor/_form.html.twig') }}
{% endblock %}

{% block acciones %}
    <a href="{{ path('app_conductor_index') }}" class="{{ estilo_boton_volver }}">{{ volver_al_listado }}</a>
{% endblock %}
