{% extends 'layout.html.twig' %}

{% block title %}{{ navega_detalle_conductor }}{% endblock %}

{% block cabecera %}
    <h3 class="{{ estilo_cabecera_pagina }}">{{ navega_detalle_conductor }}</h3>
{% endblock %}

{% block contenido %}
    <table class="{{ estilo_tabla }}">
        <tbody>
            <tr>
                <th>{{ etiqueta_nombre }}</th>
                <td>{{ conductor.nombre }}</td>
            </tr>
            <tr>
                <th>{{ etiqueta_apellido1 }}</th>
                <td>{{ conductor.apellido1 }}</td>
            </tr>
            <tr>
                <th>{{ etiqueta_apellido2 }}</th>
                <td>{{ conductor.apellido2 }}</td>
            </tr>
            <tr>
                <th>{{ etiqueta_nif_conductor }}</th>
                <td>{{ conductor.nif }}</td>
            </tr>
            <tr>
                <th>{{ etiqueta_fecha_alta }}</th>
                <td>{{ conductor.fechaAlta ? conductor.fechaAlta|date('d/m/Y') : '' }}</td>
            </tr>
            <tr>
                <th>{{ etiqueta_fecha_baja }}</th>
                <td>{{ conductor.fechaBaja ? conductor.fechaBaja|date('d/m/Y') : '' }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}

{% block acciones %}
    <a href="{{ path('app_conductor_index') }}" class="{{ estilo_boton_volver }}">{{ volver_al_listado }}</a>

    <a href="{{ path('app_conductor_edit', {'id': conductor.id}) }}" class="{{ estilo_boton_editar }}">{{ editar }}</a>

    {{ include('conductor/_delete_form.html.twig') }}
{% endblock %}
